EXPO_PUBLIC_API_URL=http://192.168.1.10:3000/api
EXPO_PUBLIC_FREE_DAILY_AI_MESSAGES=20
EXPO_PUBLIC_REWARDED_AI_MESSAGES=5
EXPO_PUBLIC_PLUS_DAILY_AI_MESSAGES=200
EXPO_PUBLIC_MAX_REWARDED_ADS_PER_DAY=3
